html, body {
    margin: 0 auto;
    text-align: center;
}

body {
    display: grid;
    grid-template: .01fr 2.5fr .05fr / 1fr ;
}

header {
    height: 49px;
    font-weight: bold;
}

main {
    display: grid;
    grid-template: .8fr 2.5fr .8fr 2.5fr .8fr / 1fr;
}

.nav {
    display: inline-block;
    color: black;
}

.menu {
    display: inline-block;
    color: white;
}

.buttons {
    height: 40px;
    font-weight: bold;
}
/*big chunks*/
.jumbo {
    height: 100%;
    color: whitesmoke;
}

.big {
    margin: 0 auto;
    height: 60%;
    background-color: darkslategray;
}

.bigtext {
    margin: 0 auto;
    height: 40%;
    background-color: teal;
}

/*smaller pictures*/
.container {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
    grid-row-gap: 48px;
    margin: 24px;
}

.products {
    background-color: cadetblue;
    min-height: 100%;
    min-width: 90%;
}

.image {
    min-height: 60%;
}

.smalltext {
    min-height: 40%;
    background-color: deepskyblue
}

/* bottom of the screen */
.footer {
    display: grid;
    grid-template-rows: .15fr .15fr .15fr .15fr .15fr .15fr;
    grid-template-columns: 1fr;
    background-color: azure;
}

.column {
    text-align: center;
    height: 324px;
    padding: 14px;
}

@media screen and (min-width: 540px) {
    main {
        grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr;
    }

    .products {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .container {
        display: grid;  
        margin: 48px;
        grid-template-rows: .5fr .5fr;
        grid-template-columns: .5fr .5fr;
        grid-row-gap: 48px;
        grid-column-gap: 3%;
    }

    .footer {
        grid-template-rows: .1fr 1fr .1fr;
        grid-template-columns: .3fr .3fr .3fr;
    }
}

@media screen and (min-width: 768px) {
    body {
        grid-template: .01fr 4.25fr .05fr / 1fr ;
    }

    main {
        grid-template: .9fr 1.5fr .9fr 1.5fr .9fr / 1fr;
    }

    .jumbo {
        position: relative;
    }

    .big {
        height: 100%;
    }

    .bigtext {
        position: absolute;
        top: 50px;
        min-width: 150px;
    }
}

@media screen and (min-width: 860px) {
    .nav {
        color: white;
    }

    .menu {
        color: black;
    }
}

@media screen and (min-width: 1084px) {
    main {
        grid-template: .9fr .75fr .9fr .75fr .9fr / 1fr;
    }
    
    .jumbo {
        margin: 0 48px;
    }

    .products {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    .container {
        grid-template-rows: 1fr;
        grid-template-columns: .25fr .25fr .25fr .25fr;
        grid-column-gap: 3%;
    }

    .footer {
        grid-template-rows: 1fr;
        grid-template-columns: .3fr .3fr .3fr .3fr .3fr .3fr;
    }
}